*.class
.metadata/
.recommenders/
bin/
APDescription.txt
MTPs-Main-Container
.classpath
.project
.settings
Xploration/bin/
Xploration/APDescription.txt
Xploration/MTPs-Main-Container
Xploration/.classpath
Xploration/.project
Xploration/.settings